<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <link rel="stylesheet" href="site.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="growler" v-on:keydown.f1="openInfo" v-cloak>
            <h2 v-text="appName" v-once></h2>
            <form id="search">
                    <input v-model.trim="query" placeholder="Search...">
                    <input type="checkbox" v-model="isPowerSyntaxEnabled"> power search<br>
                    <input type="checkbox" v-model="searchArea" value="beers"> Beers<br>
                    <input type="checkbox" v-model="searchArea" value="breweries"> Breweries
                    <br>
                    <div>Searching for {{query}}<span v-if="isPowerSyntaxEnabled"> using power search</span>.</div>
                    {{searchArea}}
                    <div v-on:click.capture="parentSearch">
                        <button v-on:click="executeSearch">Search</button>
                    </div>
            </form>

        </div>

        <script type="text/javascript" src="https://unpkg.com/vue@2.2.5/dist/vue.js"></script>
        <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="growler.vue.js"></script>
    </body>
</html>